* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
}


html,
body {
  min-height: 100%;
}

/* Colour Styles */
:root {
  --black: #151515;
  --neon: #4ee1a0;
  --slate-gray: #242424;
  --gray: #d9d9d9;
  --white: #fff;
  --dark-gray: #979797;
}

/* Typography */

@font-face {
  font-family: "Space Grotesk";
  src: url(./starter-code/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

.heading-xl {
  font-size: clamp(2.5rem, 1.444rem + 4.507vw, 5.5rem);
  font-family: "Space Grotesk";
  line-height: 5.5rem;
  font-weight: 700;
  letter-spacing: -0.15625rem;
}

.heading-l {
  font-family: "Space Grotesk";
  font-size: clamp(2rem, 1.648rem + 1.502vw, 3rem);
  line-height: 3.5rem;
  letter-spacing: -0.09375rem;
  font-weight: 700;
}

.heading-v2 {
  font-family: "Space Grotesk";
  font-size: clamp(1.5rem, 1.324rem + 0.751vw, 2rem);
  line-height: 2rem;
  letter-spacing: -0.0275rem;
  font-weight: 700;
}

.heading-m {
  font-family: "Space Grotesk";
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0;
  font-weight: 700;
}

.body {
  font-family: "Space Grotesk";
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0;
  color: var(--gray);
}

.link {
  font-family: "Space Grotesk";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.143125rem;
  text-decoration: underline var(--neon) solid;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.625rem;
  text-decoration-thickness: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease 0s;
}

.link:hover,
.link:focus {
  color: var(--neon);
  cursor: pointer;
}

/* Layout Design */

body {
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--black);
  padding: 2.5rem 11.458333333333333%;
}

/* Social Links Design */

.social-links--footer {
  border-top: solid var(--dark-gray) 1px;
  padding-top: 2.9375rem;
}

.social-links,
.social-links--footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social-links__social-links-container {
  display: flex;
  column-gap: 2rem;
  list-style-type: none;
  padding-right: 2.059027777777778%;
  z-index: 1;
}

.social-links__icon {
  fill: var(--white);
  transition: fill 0.25s ease 0s;
}

.social-links__icon:hover {
  fill: var(--neon);
}

/* Main Content */

.main-content {
  overflow-x: hidden;
}

/* Hero Section */

.hero-section {
  margin-top: 7.9375rem;
  min-height: max-content;
}

.hero-section__pattern-circle {
  position: absolute;
  top: 32.5625rem;
  left: 53.19444444444444%;
  z-index: 1;
}

.hero-section__pattern-rings {
  position: absolute;
  top: 8.3125rem;
  left: -6.25rem;
}

.hero-section__text-content-container {
  inline-size: 63.6036036036036%;
  block-size: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.hero-section__heading {
  z-index: 1;
}

.hero-section__heading-highlight {
  text-decoration: underline var(--neon) solid;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.9rem;
  text-decoration-thickness: 6px;
}

.hero-section__body {
  margin: 2.6875rem 0 4.125rem;
  block-size: 5.25rem;
  inline-size: 63.03116147308782%;
}

.hero-section__image {
  block-size: 45rem;
  position: absolute;
  top: 0;
  left: 57.63888888888889%;
}

/* Experience Section */

.experience-section {
  border-top: solid var(--dark-gray) 1px;
  margin-top: 16.5rem;
  margin-bottom: 8.75rem;
  padding-top: 4.5rem;
  padding-right: 7.4375rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 3.625rem 5.9375rem;
}

.experience-section__pattern-rings {
  position: absolute;
  top: 70rem;
  left: 79.79166666666667%;
  z-index: 2;
}

.experience-section__skill-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.875rem;
}

.experience-section__skill-name {
  color: var(--white);
}

/* Projects Section */

.projects-section {
  display: flex;
  flex-direction: column;
}

.projects-section__header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 59.0990990990991%;
}

.projects-section__project-collection-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 33.75rem);
  grid-template-rows: repeat(3, 30.4375rem);
  gap: 4.3125rem 2.702702702702703%;
}

.projects-section__single-project-container {
  block-size: 100%;
  position: relative;
}

.projects-section__project-thumbnail-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 82.13552361396304%;
  width: 100%;
  background-color: var(--black);
  z-index: 1;
  transition: opacity 0.3s ease 0s;
}

.projects-section__project-thumbnail-overlay:hover,
.projects-section__project-thumbnail-overlay:focus {
  opacity: 0.85;
}

.projects-section__project-thumbnail {
  max-height: 82.13552361396304%;
  width: auto;
}

.projects-section__project-info-container {
  padding-top: 1.25rem;
}

.projects-section__project-name {
  text-transform: uppercase;
}

.projects-section__project-skill-bodys-container {
  display: flex;
  padding-top: 7px;
  column-gap: 1.125rem;
}

.projects-section__cta {
  display: block;
  margin: 5rem auto;
  text-align: center;
}

/* Contact Page */

.contact-section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--slate-gray);
  width: 69.375rem;
  padding: 5.25rem 5.864864864864865% 5.75rem;
  margin-bottom: 92px;
  border-radius: 12px;
  overflow-x: hidden;
  column-gap: 19.81981981981982%;
}

.contact-section__pattern-rings {
  position: absolute;
  left: -12.8125rem;
  top: 48.444444444444444%;
}

.contact-section__text-container { 
  display: inline-flex;
  row-gap: 2.25rem;
  width: 50%;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-section__body {
  inline-size: 27.8125rem;
}

.contact-section__form {
  display: inline-flex;
  flex-direction: column;
  width: 50%;
}

.contact-section__form-input {
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 1rem;
}

.contact-section__form-input[type="submit"] {
  border: none;
  align-self: end;
  padding-top: 2rem;
}

.contact-page__footer {
  width: 100%;
}